
$cos_bp: 1440px;
$xl-bp: 1024px;
$sm-bp: 500px;

:root {
  --white: #FFFFFF;
  --black: #1f1e2f;
  --grey: #474550;
  --grey-2: #7f7f7f;
  --green: #04fe20;
  --font-family: "Onest", sans-serif;
}



