@import "fonts";

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import "vars";
@import "mixins";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);

  @include breakpoint($cos-bp) {
    font-size: calc(100vw / 1440 * 10);
  }

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 768 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}

body {
  @media (max-width: 500px) {
    background-color: rgba(242, 242, 242, 1);
  }
}

@import './blocks/swiper.scss';

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Onest", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}


img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  transition: transform 0.5s, opacity .5s, fill .5s, stroke .5s;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.container {
  padding-right: 24rem;
  padding-left: 24rem;

  @media (max-width: 1440px) {
    padding-right: 12rem;
    padding-left: 12rem;
  }

  @include breakpoint($xl-bp) {
    padding-right: 1.6rem;
    padding-left: 1.6rem;

    .logo-icon,
    .menu,
    .logo-text {
      display: none;
    }
  }

  @include breakpoint($sm-bp) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.img-contain {
  display: block;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.img-cover {
  display: block;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include breakpoint($sm-bp) {
      height: 20.1rem;
      object-fit: cover;
    }
  }
}

.btn {
  font-weight: 500;
  font-size: 2rem;
  color: var(--lgreen);
  border: 0.2rem solid #fff;
  padding: 1rem 2.2rem;
  padding-right: 7.4rem;
  position: relative;
  display: flex;
  align-items: center;
  transition: color .5s, text-shadow .5s;
  text-shadow: 0.2rem 0.1rem 0.8rem rgba(4, 254, 32, 0);
  min-height: 5rem;

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.2308 15.2989L13 36.0815L13.9428 37L35.6154 16.2549L35.6667 29.587H37V14H19.6667V15.2989H34.2308Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
    width: 5rem;
    height: 100%;
    filter: invert(6%) sepia(6%) saturate(6228%) hue-rotate(206deg) brightness(98%) contrast(86%);
    position: absolute;
    top: -0.1rem;
    right: -0.1rem;
    transition: filter .5s;
  }

  &::before {
    content: '';
    width: 5rem;
    height: 100%;
    background-color: var(--white);
    position: absolute;
    top: 0;
    right: 0;
  }
}

.btn-black {
  border-color: var(--black);
  color: var(--lgreen);

  &::after {
    filter: invert(100%) sepia(27%) saturate(0%) hue-rotate(22deg) brightness(112%) contrast(100%);
  }

  &::before {
    background-color: var(--black);
  }
}

.btn-grey {
  border-color: var(--grey);
  color: var(--lgreen);

  &::after {
    filter: invert(100%) sepia(27%) saturate(0%) hue-rotate(22deg) brightness(112%) contrast(100%);
  }

  &::before {
    background-color: var(--grey);
  }
}

.btn,
.btn-grey {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--green);
      text-shadow: 0.2rem 0.1rem 0.8rem rgba(4, 254, 32, 0.6);

      &::after {
        filter: invert(79%) sepia(35%) saturate(7038%) hue-rotate(78deg) brightness(107%) contrast(118%) drop-shadow(0 0 0.75rem rgba(4, 254, 32, 0.6));
      }
    }
  }
}

.mt-170 {
  margin-top: 17rem;
  margin-bottom: 18rem;

  @include breakpoint($xl-bp) {
    margin-top: 8rem;
  }
}

.mt-180 {
  margin-top: 18rem;
}

.mt-80 {
  margin-top: 8rem;
}

[data-animonscroll="scale"] {
  transform: scale3d(0.5, 0.5, 0.5);
  will-change: transform;
  transition: transform .5s;

  @include breakpoint($xl-bp) {
    transform: none;
  }
}

[data-animonscroll="opacity"] {
  opacity: 0;
  will-change: opacity;
  transition: opacity .5s;

  @include breakpoint($xl-bp) {
    opacity: 1;
  }
}

[data-animonscroll="left"] {
  transform: translate3d(-2rem, 0, 0);
  opacity: 0;
  will-change: transform, opacity;
  transition: transform .5s, opacity .5s;

  @include breakpoint($xl-bp) {
    transform: none;
    opacity: 1;
  }
}

[data-animonscroll="right"] {
  transform: translate3d(2rem, 0, 0);
  opacity: 0;
  will-change: transform, opacity;
  transition: transform .5s, opacity .5s;

  @include breakpoint($xl-bp) {
    transform: none;
    opacity: 1;
  }
}

[data-animonscroll="bottom"] {
  transform: translate3d(0, 2rem, 0);
  opacity: 0;
  will-change: transform, opacity;
  transition: transform .5s, opacity .5s;

  @include breakpoint($xl-bp) {
    transform: none;
    opacity: 1;
  }
}

[data-animonscroll="bottom"].loaded,
[data-animonscroll="right"].loaded,
[data-animonscroll="left"].loaded,
[data-animonscroll="opacity"].loaded {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

[data-animonscroll="scale"].loaded {
  transform: scale3d(1, 1, 1);
}


.button {
  display: block;
  z-index: 1;
  padding: 1.4rem 2.5rem;
  background-color: var(--lgreen);
  font-weight: 500;
  font-size: 2rem;
  color: var(--white);
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;

  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
  }


  &:hover {
    filter: brightness(0.9);
  }

  &.white {
    background-color: var(--white);
    border: 0.2rem solid var(--lgreen);
    color: var(--lgreen);

    &:hover {
      background-color: var(--lgreen);
      color: var(--white);
      filter: brightness(1);
    }
  }
}

.header-popup {
  position: fixed;
  flex-direction: column;
  z-index: 100;
  background-color: #1F1E2F;
  width: 100%;
  height: 100dvh;
  color: white;
  right: 100%;
  transition: 0.5s;
  top: 0;
  overflow: scroll;

  &.active {
    display: flex;
    right: 0;
  }

  .header-popup-top {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    align-items: center;

    .logo-icon {
      width: fit-content;
    }


    .logo-icon {
      height: 5rem;
    }

    .close-popup {
      fill: white;
      width: 3.2rem;
      height: 3.2rem;
    }
  }


  .header-popup-middle {
    padding: 3.2rem 2rem 1rem 2rem;
    color: white;
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    height: 100%;

    .phone {
      padding-top: 2.4rem;
      width: 100%;
      border-top: 0.1rem #FFFFFF1A solid;
    }

    .button {
      width: 100%;
      justify-content: center;
      margin-top: auto;
    }
  }

  .header-popup-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3.2rem 2rem 4.4rem 2rem;

  }

}

.hide-on-pc {
  display: none;

  @include breakpoint($xl-bp) {
    display: block;
  }
}

/* Blocks */

.callback-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100dvh;
  background-color: #fff;
  padding: 6.4rem 1.6rem 0 1.6rem;
  overflow: scroll;
  display: none;

  &.open {
    display: block;
    z-index: 1000;
  }

  .close-callback-popup {
    position: fixed;
    top: 1.6rem;
    right: 1.6rem;

    svg {
      width: 3.2rem;
      height: 3.2rem;
      fill: var(--lgreen);
    }
  }

  @include breakpoint($sm-bp) {
    .section-title {
      font-size: 3.2rem;
      font-weight: 600;
      text-align: center
    }

    .callback-subtitle {
      font-size: 1.8rem;
      line-height: 2.4rem;
      text-align: center;
    }

    input {
      font-size: 1.6rem;
      margin-top: 3.2rem;
    }

    .callback-text {
      margin-top: 4.8rem;
      font-size: 1.4rem;
      text-align: center;
    }

    .button {
      text-align: center;
      font-size: 1.6rem;
      margin-top: 1.6rem;
      width: 100%;
      justify-content: center;
    }

    .callback-img {
      display: block;
      height: 14.2rem;
      margin-bottom: 1.6rem;
    }
  }
}

.roll-block {

  @media (min-width: 500px) {
    display: none;
  }

  margin-top: 8rem;
  display: flex;
  height: fit-content;
  overflow: scroll;

  .roll-block-item {
    background-color: var(--lgreen);
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: fit-content;
    margin-left: 0.8rem;
    white-space: nowrap;
    height: fit-content;
    padding: 0.8rem;

    &:last-child {
      margin-right: 0.8rem;
    }
  }
}

.go-to-catalog {
  display: none;

  @include breakpoint($sm-bp) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1.2rem 0.8rem 0 0.8rem;
  }
}

.main {
  @include breakpoint($sm-bp) {
    padding: 0.8rem;
    border-top: 0.1rem solid #1F1E2F26;
    border-bottom: 0.1rem solid #1F1E2F26;
    background-color: white;
  }
}

.mproducts-mobile-block {
  padding: 0 0.8rem;

  @media (min-width: 500px) {
    display: none;
  }

  .mproducts-mobile {
    margin-top: 4.7rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .mproducts-item-mobile {
      padding: 1.2rem;
      display: flex;
      flex-direction: column;
      row-gap: 1.6rem;
      background-color: white;
      box-shadow: 0px 0px 1px 0px #DCE4FA;


      .mproducts-item__image {
        position: relative;
        height: fit-content;
        display: flex;
        overflow: hidden;
        padding: 1.4rem 1.2rem;

        .title {
          font-size: 2rem;
          font-weight: 600;
          gap: 4rem;
          justify-content: space-between;
          z-index: 1;
          color: white;
        }

        .mproducts-item__count {
          padding: 0.8rem;
          background-color: #FFFFFF1A;
          color: white;
          font-size: 1.2rem;
          font-weight: 500;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          height: fit-content;
        }

        img {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
        }

        .image-shadow {
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #1F1E2FB2;
        }
      }

      .mproducts-item__list {
        display: flex;
        gap: 1.2rem;
        flex-direction: column;

        .mproducts-item__list-item {
          border: 1px solid var(--bg, rgba(242, 242, 242, 1));
          width: 100%;
          padding: 1.2rem;
          display: flex;
          justify-content: space-between;
          gap: 1.2rem;
          font-size: 1.6rem;
          align-items: center;

          &:nth-child(n+6) {
            display: none;
          }

          svg {
            width: 2rem;
            height: 1rem;
            fill: var(--lgreen);
          }
        }
      }
    }

    .show-me-more {
      color: rgba(31, 30, 47, 1);
      margin-left: auto;
      font-size: 1.6rem;
      margin-top: 2rem;
      font-weight: 600;
      border-bottom: 0.1rem solid var(--lgreen);
      padding-bottom: 0.4rem;
    }


  }

  .button {
    width: 100%;
    margin-top: 1.6rem;
    justify-content: center;
  }
}

.for-partners-block {
  margin-top: 10rem;
  background-color: rgba(31, 30, 47, 1);
  padding: 2.4rem 1.2rem;

  @media (min-width: 500px) {
    display: none;
  }

  .title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.4rem;
  }

  .description {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    margin-top: 2.4rem;
    line-height: 2.2rem;
  }

  .adventures-list {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0 0.8rem;
    line-height: 2.7rem;

    .adventures-item {
      display: flex;
      gap: 0.8rem;
      align-items: center;
      color: white;
      font-size: 1.5rem;

      svg {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }

  .button {
    display: none;

    @include breakpoint($sm-bp) {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 2.4rem;
    }
  }
}

.mproducts {
  margin-top: 19rem;
  margin-bottom: 17rem;
  .pc-production__block {
    margin-top: 4rem;
    display: flex;
    gap: 2.3rem;

    .pr-production__item {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 3.2rem;

      .content {
        max-width: 70.9rem;
        height: 50.1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 0.1rem solid #DAD9DE;

        .title {
          padding: 3.3rem 4.4rem 0 3.3rem;
          font-weight: 500;
          font-size: 3.2rem;
          line-height: 4.08rem;
        }

        img {
          max-width: 100%;
        }
      }

      .button {
        width: 100%;
        justify-content: center;
      }
    }
  }
}

.mproducts,
.mabout {
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.about-company__block {

  @media (min-width: 500px) {
    display: none;
  }

  margin-top: 12rem;
  display: flex;
  padding: 0 0.8rem;
  flex-direction: column;
  gap: 1.6rem;

  .title {
    font-size: 3.2rem;
    font-weight: 600;
    color: #1F1E2F;
  }

  .main-description {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.7rem;
    text-transform: uppercase;

    .hightlighted {
      color: var(--lgreen)
    }
  }

  .description {
    font-size: 1.6rem;

    .hightlighted {
      font-weight: 600;
    }
  }

  img {
    height: 25.2rem;
    border: #1F1E2F solid 1.2rem;
  }

  .button {
    justify-content: center;
    width: 100%;
  }
}

.product-item {
  margin-top: 6rem;
  display: flex;
  gap: 4rem;

  @media (max-width: 1024px) {
    display: none;
  }

  .product-item-list {
    display: flex;
    flex-direction: column;
    height: 72rem;
    overflow: scroll;

    .product-item-list__item {
      width: 26.3rem;
      height: 6.9rem;
      color: rgba(54, 53, 57, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3.2rem;
      user-select: none;

      &:hover {
        background-color: rgba(59, 153, 119, 0.1);
        cursor: pointer;
      }

      &.active {
        background-color: var(--lgreen);
        color: white;
      }
    }
  }

  .product-item__picture {
    width: 48.1rem;
    height: 72rem;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }

    .picture-text {
      width: 40.8rem;
      position: absolute;
      color: white;
      left: 4rem;
      bottom: 4rem;
      font-weight: 500;


      .title {
        font-size: 3.2rem;
      }

      .description {
        font-size: 2rem;
        margin-top: 1rem;
      }
    }
  }

  .product-item__description {
    margin-top: auto;
    width: 51.6rem;
    font-size: 2rem;

    .button {
      margin-top: 4rem;
      width: 15.9rem;
      height: 4rem;

      svg {
        rotate: 180deg;
        fill: var(--lgreen)
      }
    }
  }
}

.breadcrumbs {
  display: flex;
  gap: 4rem;
  font-size: 3.2rem;
  font-weight: 500;
  margin-top: 8rem;
  color: rgba(31, 30, 47, 0.4);
  user-select: none;
  overflow: scroll;

  @media (max-width: 1024px) {
    display: none;
  }

  span {
    position: relative;

    &::after {
      position: absolute;
      content: '/';
      right: -2.6rem;
    }

    &:last-child {
      color: black;

      &::after {
        display: none;
      }
    }
  }
}

.easy-fluid-block {
  @media (min-width: 500px) {
    display: none;
  }

  margin-top: 6.2rem;
  width: 100%;
  height: 19.3rem;
  background-color: #1F1E2F;
  position: relative;
  padding: 2.1rem 2.8rem 5.9rem 2.8rem;

  .title {
    font-weight: 600;
    font-size: 4rem;
    color: var(--lgreen);
    text-transform: uppercase;
  }

  .description {
    margin-top: 0.8rem;
    color: white;
    font-size: 1.6rem;
  }

  .background-text {
    font-size: 5.4rem;
    font-weight: 600;
    position: absolute;
    left: 1.2rem;
    bottom: 1.2rem;
    color: rgba(59, 153, 119, 0.08);
  }
}

.products-item-mobile-container {
  @media (min-width: 1024px) {
    display: none;
  }

  background-color: rgb(242, 242, 242);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2rem 1.2rem;

  .mobile-product-item {
    height: fit-content;
    padding: 1.2rem;
    background-color: white;

    .title {
      font-size: 1.6rem;
      width: 100%;
      background-color: rgba(242, 242, 242, 1);
      padding: 0.8rem 1.2rem;
      font-weight: 600;
    }

    .description {
      margin-top: 0.8rem;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }

    .button {
      height: 3.6rem;
      margin-top: 0.8rem;
      margin-left: auto;
    }

  }
}

.product-item-page-block {
  @media (min-width: 500px) {
    display: none;
  }

  margin: 0 1.2rem 0.6rem 1.2rem;
  overflow: hidden;
  position: relative;
  padding: 1.2rem 1.6rem;
  height: fit-content;

  .title {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    z-index: 1;
    position: relative;
  }

  .description {
    z-index: 1;
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
    margin-top: 0.4rem;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
  }

}

.mobile-navigation-section {
  margin-top: 8rem;

  @media(min-width: 500px) {
    display: none;
  }

  .mobile-breadcrumbs-block {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    padding: 0 0.8rem;
    overflow: scroll;


    .mobile-breadcrumbs-item {
      color: rgba(31, 30, 47, 0.5);
      position: relative;
      font-size: 1.4rem;
      white-space: nowrap;

      svg {
        width: 2rem;
        height: 1.7rem;
      }

      &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -1.8rem;
        font-weight: 800;
        content: '>';
      }

      &:last-child {
        color: black;

        &:after {
          display: none;
        }
      }
    }
  }

  .mobile-catalog-block {
    border-top: 0.1rem solid rgba(31, 30, 47, 0.15);
    background-color: white;
    padding: 2.4rem 0.8rem 1.6rem 0.8rem;

    .title {
      font-size: 3.2rem;
      font-weight: 600;
    }

    .mobile-catalog-block-list {
      margin-top: 2.4rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.8rem;

      .mobile-catalog-block-item {
        border: 0.1rem solid rgba(59, 153, 119, 1);
        min-width: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        color: var(--lgreen);
        padding: 1rem;
        font-weight: 500;

        &.active {
          background-color: var(--lgreen);
          color: white;
        }
      }
    }
  }

  .go-back-button {
    margin-top: 1.2rem;
    font-size: 1.6rem;
    padding: 0 0.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 2.8rem;
    margin-bottom: 4rem;

    svg {
      width: 1.7rem;
      height: 1rem
    }
  }
}

@import "importsBlocks";