.footer {
  position: relative;
  overflow: hidden;
  background-color: var(--black);
  padding-top: 8.5rem;
  padding-bottom: 8.1rem;
  display: flex;
  gap: 17.3rem;

  a {
    transition: color .5s;
    @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--green);
    }
    }
  }
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem 3.6rem;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.55rem;
  color: #fff;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-rules {
  font-weight: 300;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 15.2rem;
}

.footer-infos {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.footer-infotop {
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
}

.footer-infobot {
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
}

.footer-bg {
  height: calc(100% - 2.3rem);
  position: absolute;
  bottom: 0;
  right: 0;

  img {
    object-position: right bottom;
  }
}