.header {
  position: fixed;
  width: 100%;
  transition: transform .5s, background-color .5s;
  will-change: transform;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .dark-logo{
    display: none;
  }

  @include breakpoint($xl-bp) {
    background-color: var(--white);
    border-bottom: 0.1rem solid #1F1E2F26;
    flex-direction: row-reverse;

    .open-popup{
      width: 4.5rem;
      height: 4.5rem;
      border: 0.1rem solid var(--lgreen);

      use{
        width: 3.2rem;
        height: 3.2rem;
      }
    }

    .dark-logo{
      display: block;
    }

    .logo-icon .menu, .logo-text{
      display: none;
    }

    .header-logo{
      height: 5rem;
      width: 8.7rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .mobile-call{
      width: 4.8rem;
      height: 4.8rem;
      background-color: var(--lgreen);
      display: flex;
      justify-content: center;
      align-items: center;
      
      svg{
        width: 3.2rem;
        height: 3.2rem;
      }
    }

    .header-popup-middle{
      display: flex;
      position: 3.2rem 6.4rem;
    }
  } 
}

.header--active {
  background-color: var(--white);
  box-shadow: 0px 2rem 2rem -1rem rgba(26, 28, 25, 0.1);
  .menu-tel,
  .menu-item {
    color: var(--black);
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--green);
      }
      }
  }

  .logo-top {
    color: var(--black);
  }

  .fill-white {
    fill: var(--black);
  }
}

.out {
  transform: translate3d(0, calc(-100% - 1rem), 0);
}


.logo {
  display: flex;
  align-items: flex-end;
  position: relative;

  .logo-icon {
    width: 11.4rem;
    height: 6.6rem;
  }

  .logo-text {
    position: absolute;
    top: 4.1rem;
    left: 5rem;
  }


  @media (hover: hover) and (pointer: fine) {
  &:hover {
    .logo-bot {
      color: var(--green);
    }
    .fill-grey {
      fill: var(--green);
    }
  }
  }
}



.fill-grey {
  fill: var(--lgreen);
  transition: fill .5s;
}

.fill-white {
  fill: var(--white);
  transition: fill .5s;
}



.logo-top {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--white);
  transition: color .5s;
}

.logo-bot {
  font-weight: 500;
  font-size: 0.6rem;
  color: var(--grey-2);
  text-align: center;
  margin-top: 0.2rem;
  transition: color .5s;
}