.main-wrapper {
  position: relative;
  background-color: var(--grey);
}

.main-swiper {
  .swiper-slide-active {
    .main-img {
      img {
        transform: scale3d(1, 1, 1);
      }
    }
  }

  .button {
    margin-top: 8rem;
  }

  @include breakpoint($sm-bp) {
    height: 20.1rem;
  }
}

.main-item {
  padding-top: 24.6rem;
  min-height: 89rem;

  @include breakpoint($xl-bp) {

    min-height: 65rem;
    padding-top: 14.6rem;

    .main-title {
      font-size: 5.2rem;
    }

    .main-desc,
    .button {
      margin-top: 5rem;
    }
  }

  @include breakpoint($sm-bp) {

    .main-title,
    .main-desc,
    .button {
      display: none;
    }
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.main-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-title {
  font-weight: 500;
  font-size: 6.8rem;
  line-height: 118%;
  color: #fff;
  letter-spacing: 0.007em;
  position: relative;
  z-index: 1;

  @include breakpoint($sm-bp) {
    display: none;
  }
}

.main-desc {
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4.08rem;
  color: #fff;
  max-width: 85rem;
  box-sizing: content-box;
  padding-left: 4rem;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  border-left: 0.1rem solid var(--white);
  margin-top: 8rem;
  letter-spacing: 0.003em;
  position: relative;
  z-index: 1;
}

.main-btn {
  margin-top: 8rem;
  z-index: 1;
  width: max-content;
  max-width: 100%;
}

.main-pagination {
  position: absolute;
  bottom: 0;
  right: 24rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 8.7rem 1rem;
  background-color: rgba($color: #FFFFFF, $alpha: 0.2);
  min-width: 10.2rem;
  height: 64.4rem;

  @media (max-width: 1440px) {
    right: 3rem;
  }

  @include breakpoint($xl-bp) {
    display: none;
  }


  .swiper-arrow {
    width: 2.5rem;
    height: 4rem;
    fill: var(--white);
    transition: transform .5s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: translate3d(0, -0.25rem, 0);
      }
    }

    &:active {
      transform: translate3d(0, -0.5rem, 0);
    }

    &.next {
      transform: rotate(180deg);

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          transform: rotate(180deg) translate3d(0, -0.25rem, 0);
        }
      }

      &:active {
        transform: rotate(180deg) translate3d(0, -0.5rem, 0);
      }
    }
  }
}

.main-pagination-content {
  display: flex;
  flex-direction: column;
  gap: 4.7rem;
  width: 100%;
  position: relative;

  &::before {
    content: '';
    width: 0.1rem;
    height: calc(100% - 5.35rem);
    background-color: #6A6A6E;
    position: absolute;
    top: 2.5rem;
    left: -5rem;
  }

  &::after {
    content: '';
    width: 0.1rem;
    height: 2rem;
    background-color: var(--white);
    position: absolute;
    top: 2.5rem;
    left: -5rem;
    transform: translateY(calc(var(--lineheight) * var(--percent) / 100 - 2rem));
    transition: transform .5s;
  }
}

.main-bullet {
  font-weight: 500;
  font-size: 4.2rem;
  line-height: 5.355rem;

  text-align: center;
  position: relative;
  cursor: pointer;
  z-index: 1;

  .ball {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 1.5rem;
    left: -5.9rem;
    border-radius: 100%;
    transition: transform .5s;
    background-color: #6a6a6e;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--white);
      transition: .5s transform .2s;
    }

    &::before {
      transform: translate3d(0, -100%, 0);
    }
  }

  &.reversed {
    .ball {
      &::before {
        transform: translate3d(0, 100%, 0);
      }
    }
  }

  &.active {
    .ball {
      transform: scale3d(2.2, 2.2, 1);

      &::before {
        transform: translate3d(0, 0, 0);
      }
    }


    .main-bullet-text {
      transform: scale3d(1.5, 1.5, 1);
      color: var(--white);
    }
  }
}

.main-bullet-text {
  transition: transform .5s, color .5s;
  color: rgba($color: #c0c0dc, $alpha: 0.3);
}

.main-bot {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 1440px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    justify-content: center;
    align-items: center;


    .main-li {
      justify-content: center;

      &::after {
        display: none;
      }
    }
  }

  @include breakpoint($sm-bp) {
    gap: 8px;

    .main-li {
      flex-direction: column;
      align-items: flex-start;
      padding: 1.2rem;
      background-color: #F2F2F2;
      height: 100%;
      border-bottom: 0.2rem solid #1F1E2F;
      gap: 0.8rem;
      width: 17.5rem;
      height: 15.6rem;
      justify-content: space-between;

      .main-subtitle {
        font-size: 1.4rem;
        line-height: 1.7rem;
      }
    }
  }
}

.main-li {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 70%;
    transition: 0.5s;
  }

  &:hover {
    &::after {
      top: 110%;
      width: 100%;
      opacity: 1;
      height: 0.1rem;
      background-color: var(--black);
    }
  }
}

.main-icon {
  width: 4rem;
  height: 4rem;
}

.main-subtitle {
  font-weight: 300;
  font-size: 2rem;
  color: var(--black);
  line-height: 2.55rem;
  max-width: 22rem;
}

.section-title {
  font-weight: 500;
  font-size: 9.6rem;
  line-height: 147%;
  color: #1f1e2f;

  @include breakpoint($xl-bp) {
    font-size: 5.6rem;
  }
}

.mcatalog-tabs {
  display: flex;
  align-items: center;
  gap: 6rem;
  margin-top: 2rem;
}

.mcatalog-btn {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.08rem;
  color: #9F9FA8;
  padding-bottom: 2rem;
  letter-spacing: 0.01em;
  border-bottom: 0.1rem solid transparent;
  transition: color .5s, border-color .5s;

  &.active {
    border-color: var(--black);
    color: var(--black);
  }
}

.mcatalog-block {
  display: none;
}

.mcatalog-inner {
  display: flex;
  gap: 8rem;
}

.mcatalog-columns {
  columns: 24.2rem 3;
  column-gap: 14.2rem;
}

.mcatalog-subtitle {
  font-weight: 500;
  font-size: 3.2rem;
  color: #221c1c;
  line-height: 4.08rem;
  transition: color .5s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--green);
    }
  }
}

.mcatalog-desc {
  font-weight: 300;
  font-size: 2rem;
  color: #221c1c;
  margin-top: 2rem;
  line-height: 2.55rem;
}

.mcatalog-accordions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mcatalog-button {
  font-weight: 300;
  font-size: 2rem;
  color: #221c1c;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid var(--black);
  width: 100%;
  text-align: start;
  transition: color .5s;

  &.opened {
    color: var(--green);

    &+.mcatalog-accblock {
      grid-template-rows: 1fr;
    }
  }
}

.mcatalog-accblock {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows .5s;
}

.mcatalog-accinner {
  font-weight: 300;
  font-size: 2rem;
  color: #221c1c;
  overflow: hidden;
  line-height: 2.6rem;

  &>* {
    &:first-child {
      margin-top: 1rem;
    }

    &:last-child {
      margin-bottom: 2rem;
    }
  }
}

.mcatalog-content {
  margin-top: 8rem;

  &>* {
    animation: fadeEffect .5s;
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mcatalog-img {
  width: 34.5rem;
  height: auto;
  flex: 0 0 auto;
  margin-left: auto;
  max-height: 92rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.5;
    z-index: 1;
  }
}

.mcatalog-producer {
  break-inside: avoid-column;
  margin-top: 8rem;

  &:first-child {
    margin-top: 0;
  }
}

.mcatalog-accordions {
  margin-top: 4rem;
}

.mcatalog-bot {
  margin-top: 4rem;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 0.1rem;
    background-color: var(--black);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.mcatalog-botbtn {
  background-color: var(--white);
}

.mproducts-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 5.8rem;
}

.mproducts-item {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .button {
    margin-left: auto;
  }
}

.mproducts-img {
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
  }

}

.mproducts-subtitle {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.08rem;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8.5rem;
  padding-right: 8.5rem;

  @include breakpoint($xl-bp) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 2rem;
    line-height: 2.8rem;
  }
}

.mproducts-btn {
  width: max-content;
  max-width: 100%;
  margin-left: auto;
}

.mproducts-desc {
  font-weight: 500;
  font-size: 3.2rem;
  text-align: justify;
  color: #1f1e2f;
  line-height: 4.08rem;
  margin-top: 8rem;
}

.mabout {
  background-color: var(--grey);
  padding-top: 15rem;
  padding-bottom: 23rem;

  position: relative;
  overflow: hidden;

  @include breakpoint($xl-bp) {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

.mabout-title {
  font-weight: 500;
  font-size: 6.9rem;
  line-height: 158%;
  color: var(--white);
  margin-bottom: 1.4rem;
}

.mabout-desc {
  font-weight: 500;
  font-size: 3.23rem;
  line-height: 4.08rem;
  color: #fff;
  max-width: 88rem;

  p {
    margin-bottom: 4rem;
  }

  &>* {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .button {
    z-index: 1;
    width: 15.9rem;
    height: 5rem;
    margin-top: 6.7rem;
  }
}

.mabout-btn {
  margin-top: 6.5rem;
  max-width: 100%;
  width: max-content;
}

.mabout-img {
  height: calc(100% - 4rem);
  width: 81rem;
  position: absolute;
  bottom: 0;
  right: -1rem;

  img {
    object-position: top right;
  }
}

.callback {
  margin-top: 17.9rem;

  .button {
    margin-top: 5.9rem;
  }

  @include breakpoint($xl-bp) {
    margin-top: 7.9rem;
  }

  @include breakpoint($sm-bp) {
    background-color: white;
    padding: 2.4rem 1.2rem;
    flex-direction: row-reverse;

    .section-title {
      font-weight: 600;
      font-size: 3.2rem;
    }

    .callback-subtitle{
      font-size: 1.8rem;
      line-height: 2.4rem;
    }

    input{
      font-size: 1.6rem;
      margin-top: 2.4rem;
      padding: 1rem 1.2rem;
    }

    .callback-text{
      font-size: 1.4rem;
      margin-top: 4.8rem;
    }
    .button{
      margin-top: 1.6rem;
      width: 100%;
      justify-content: center;
    }
  }
}

.callback-title {
  font-weight: 500;
  font-size: 6.9rem;
  line-height: 147%;
  color: #1f1e2f;
}

.callback-wrapper {
  display: grid;
  grid-template-columns: 1fr 58.8rem;
  gap: 10.7rem;
  margin-top: 2rem;

  @include breakpoint($xl-bp) {
    display: block;
  }

  @include breakpoint($sm-bp) {
    flex-direction: column-reverse;
    display: flex;
    gap: 2.4rem;
  }
}

.callback-subtitle {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.08rem;
  color: #1f1e2f;
}

.callback-form {
  max-width: 68.6rem;

  input.is-invalid{
    border-bottom: red 0.1rem solid;
  }
}

.callback-input {
  margin-top: 6rem;
}

.inp {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 2.2rem;
  color: var(--black);
  padding: 2rem;
  padding-top: 0;
  border: 0;
  border-bottom: 0.1rem solid var(--black);
  transition: border-color .5s;
  background-color: transparent;

  &::placeholder {
    color: rgba(31, 30, 47, 0.3);
    opacity: 1;
  }

  &:focus {
    outline: none;
    border-color: var(--green);
  }
}

.callback-text {
  max-width: 49.8rem;
  font-weight: 300;
  font-size: 2.23rem;
  color: rgba(31, 30, 47, 0.3);
  margin-top: 8rem;
  line-height: 123%;
}

.callback-btn {
  margin-top: 4rem;
}

.callback-img {
  height: 48.3rem;
  width: 100%;

  @include breakpoint($sm-bp) {
    display: block!important;
    height: 14.2rem;

    img{
      height: 16.1rem;
    }
  }

  @include breakpoint($xl-bp) {
    display: none;
  }
}