.products-block {
    margin: 0 0 18rem 0;

    .products-block__backgroudn-image{
        img{
            width: 100%;
        }
    }

    .products-swiper {
        margin-top: 18rem;
        overflow: hidden;

        &.container{
            padding: 0!important;
            width: 144rem;
        }

        .product-item {
            width: 46.7rem;
            height: 72rem;
            padding: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: white;
            position: relative;
            user-select: none;
            overflow: hidden;
            
            .product-item__title{
                font-weight: 500;
                z-index: 1;

                .title{
                    font-size: 3.2rem;
                    text-transform: uppercase;
                }
                .description{
                    margin-top: 1rem;
                    font-size: 2rem;
                }
            }

            .product-item__show-more-button{
                z-index: 1;
                width: 15.7rem;
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid white;
                font-size: 2rem;
                cursor: pointer;
            }
            
            .background-image{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }

        .product-swiper__controls{
            display: flex;
            justify-content: space-between;
            margin-top: 4rem;

            .control{
                width: 15.9rem;
                height: 5rem;
                background-color: #3B9977;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover{
                    filter: brightness(0.9);
                    cursor: pointer;
                }

                &.swiper-button-disabled{
                    background-color: white;
                    color: #3B9977;  
                    border: #3B9977 2px solid;

                    svg{
                        color: #3B9977;
                    }
                }

                svg{
                    width: 9.1rem;

                    &.rotate{
                        rotate: 180deg;
                    }
                }
            }
        }

        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
            background-color: #D9D9D9; 
            opacity: 0.7;
            border-radius: 0; 
            margin: 0 5px; 
          }
          
          .swiper-pagination-bullet-active {
            background-color: #3B9977; 
            opacity: 1;
          }
    }
}