<section class="callback container mt-180">
  <h2 class="callback-title">Обратная связь</h2>
  <div class="callback-wrapper">
    <div class="callback-left">
      <div class="callback-subtitle">У вас возникли вопросы? Оставляйте вашу заявку и мы обязательно свяжемся с вами!</div>
      <form action="#" class="callback-form">
        <input type="text" name="name" placeholder="Ваше Имя" class="callback-input inp">
        <input type="text" name="tel" placeholder="Ваш номер телефона" class="callback-input inp">
        <input type="text" name="email" placeholder="Ваша почта" class="callback-input inp">

        <div class="callback-text">
          Отправляя данную форму вы подтверждаете согласие с обработкой персональных данных и политикой конфиденциальности.
        </div>

        <a href="#" class="button">Подробнее</a>
      </form>
    </div>
    <div class="callback-img img-cover">
      <img src="./assets/images/callback/1.jpg" alt="callback">
    </div>
  </div>
</section>