<section class="callback container mt-180">
  <div class="callback-wrapper">
    <div class="callback-left">
      <h2 class="callback-title">Обратная связь</h2>
      <div class="callback-subtitle">Хотите уточнить дополнительную информацию? Оставьте вашу заявку и мы обязательно
        свяжемся с вами в ближайшее время.
      </div>
      <form action="#" class="callback-form">
        <input type="text" name="name" placeholder="Ваше Имя" class="callback-input inp">
        <input type="text" name="tel" placeholder="Ваш номер телефона" class="callback-input inp">
        <input type="text" name="email" placeholder="Ваша почта" class="callback-input inp">
        <input type="text" name="email" placeholder="Выпускаемая Вашим предприятием продукция"
               class="callback-input inp">

        <div class="small-title">Какая продукция интересует?</div>
        <div class="checkboxes-block">
          <div class="item">
            <input type="checkbox" id="item1">
            <label for="item1">Клеи/герметики</label>
          </div>
          <div class="item">
            <input type="checkbox" id="item2">
            <label for="item2">Оборудование</label>
          </div>
          <div class="item last-item">
            <input type="checkbox" id="item3">
            <label for="item3">Прочее</label>
          </div>
        </div>

        <div class="button-block">
          <a href="#" class="button">Отправить</a>
          <p>Нажимая на кнопку «Отправить», Вы даете согласие на обработку своих персональных данных</p>
        </div>
      </form>
    </div>
    <div class="callback-img img-cover">
      <img src="./assets/images/callback/1.jpg" alt="callback">
    </div>
  </div>
</section>