<footer class="footer container">
  <div class="footer-left">
    <ul class="footer-list">
      <li class="footer-item">
        <a href="main.html">Главная</a>
      </li>
      <li class="footer-item">
        <a href="main.html">О компании</a>
      </li>
      <li class="footer-item">
        <a href="main.html">Продукция</a>
      </li>
      <li class="footer-item">
        <a href="main.html">Обратная связь</a>
      </li>
    </ul>
  
    <div class="footer-rules">
      <p>Разработка сайта - Студия ЯР</p>
      Все права защищены Химлайн © 2024
    </div>
  </div>

  <ul class="footer-infos">
    <li class="footer-info first">
      <div class="footer-infotop">Адрес</div>
      <div class="footer-infobot">Москва, Курьяновская наб., 6</div>
    </li>
    <li class="footer-info">
      <div class="footer-infotop second">Телефон</div>
      <a href="tel:+74952216336" class="footer-infobot">+7 495 221-63-36</a>
    </li>
    <li class="footer-info">
      <div class="footer-infotop third">Email</div>
      <a href="mailto:Ximline@gmail.com" class="footer-infobot">Ximline@gmail.com</a>
    </li>
  </ul>

  <div class="footer-bg img-cover">
    <img src="./assets/images/footer/1.svg" alt="bg">
  </div>
</footer>