<footer class="footer container">
  <div class="footer-left">
    <ul class="footer-list">
      <li class="footer-item">
        <a href="main.html">Главная</a>
      </li>
      <li class="footer-item">
        <a href="main.html">О компании</a>
      </li>
      <li class="footer-item">
        <a href="main.html">Продукция</a>
      </li>
      <li class="footer-item">
        <a href="main.html">Обратная связь</a>
      </li>
    </ul>
  
    <div class="footer-rules">
      <p>Все права защищены</p>
      <p>Политика обработки персональных данных</p>
      <p>© Химлайн, г. Москва, 2024 г.</p>
    </div>
  </div>

  <ul class="footer-infos">
    <li class="footer-info">
      <div class="footer-infotop second">Телефон</div>
      <a href="tel:+79854620050" class="footer-infobot">+7 985 462-00-50</a>
    </li>
    <li class="footer-info">
      <div class="footer-infotop third">Email</div>
      <a href="mailto:info@ximline.su" class="footer-infobot">info@ximline.su</a>
    </li>
  </ul>

  <div class="footer-bg img-cover">
    <img src="./assets/images/footer/1.svg" alt="bg">
  </div>
</footer>