<div class="mobile-navigation-section">
    <div class="mobile-breadcrumbs-block">
        <div class="mobile-breadcrumbs-item">
            <svg>
                <use href="#home" />
            </svg>
        </div>
        <div class="mobile-breadcrumbs-item">
            Продукция
        </div>
        <div class="mobile-breadcrumbs-item">
            СОЖ
        </div>
        <div class="mobile-breadcrumbs-item">
            LAZERCOOL
        </div>
    </div>

    <div class="mobile-catalog-block">
        <div class="title">
            Каталог
        </div>
        <div class="mobile-catalog-block-list">
            <div class="mobile-catalog-block-item active">
                СОЖ
            </div>
            <a href="alternativeSwiper.html" class="mobile-catalog-block-item">
                Индустриальные клеи и герметики
            </a>
            <div class="mobile-catalog-block-item">
                Оборудование для порошкового окрашивания металлов
            </div>
        </div>
    </div>
    <div class="go-back-button">
        <svg>
            <use href="#goBack" />
        </svg>
        <span>Назад</span>
    </div>
</div>