<section class="product img-cover container">
  <h1 class="product-title">Смазочно-охлаждающие жидкости для металлообработки</h1>

  <img src="./assets/images/product/1.jpg" alt="product">
</section>

<div class="breadcrumbs container">
    <span>СОЖ для металлообработки</span>
    <span>LAZERCOOL</span>
    <span>Lazercut 05G</span>
</div>

<div class="product-item container">
    <div class="product-item-list">
        <div class="product-item-list__item active">
            Lazercool 165
        </div>
        <div class="product-item-list__item">
            Lazercool 166
        </div>
        <div class="product-item-list__item">
            Lazercool 167
        </div>
        <div class="product-item-list__item">
            Lazercool 168
        </div>
    </div>
    <div class="product-item__picture">
        <img src="./assets/images/product/img 1.jpg" alt="">
        <div class="picture-text">
            <div class="title">LAZERCOOL</div>
            <div class="description">Смешиваемые с водой СОЖ для механической обработки и шлифования</div>
        </div>
    </div>
    <div class="product-item__description">
        <div class="text">
            СОЖ на минеральной основе, без содержания хлора. Применяется в качестве эмульсии для лезвийной и абразивной обработки медных сплавов, алюминия, чугуна, стали и еe сплавов, где необходимы высокое качество обрабатываемой поверхности, защита от биопоражения и антикоррозийная стойкость.
        </div>
        <div class="button white">
            <svg class="">
                <use href="#long-arrow" />
            </svg> 
        </div>
    </div>
</div>

{{> callback}}